In [1]:
import pyodbc
import numpy as np
import pandas as pd

In [2]:
conn = pyodbc.connect(r'DRIVER={Microsoft Access Driver (*.mdb, *.accdb)};DBQ=C:\Users\jhemb\Desktop\seha2731.mdb')

In [39]:
cursor = conn.cursor()
cursor.execute('SELECT tblPatients.PatientID, tblPatients.Sex, tblPatients.MaritalStatus, tblVisits.VisitDate FROM tblPatients INNER JOIN tblVisits ON tblPatients.PatientID = tblVisits.PatientID WHERE tblVisits.ARVStatusCode = 2 AND (((tblVisits.VisitDate)>=#1/10/2022#) AND ((tblVisits.VisitDate)<=#30/6/2023#));')
# cursor.execute('SELECT tblPatients.MaritalStatus,tblFamilyInfo.RelativeType FROM tblPatients INNER JOIN tblFamilyInfo ON tblPatients.patientID = tblFamilyInfo.patientID;')

In [40]:
data = np.array(cursor.fetchall())
column_names = [desc[0] for desc in cursor.description]
column_names

['PatientID', 'Sex', 'MaritalStatus', 'VisitDate']

In [41]:
df = pd.DataFrame(data,columns=column_names)

In [42]:
df

             PatientID     Sex MaritalStatus  VisitDate
0    02-01-0100-001472  Female             S 2023-06-02
1    02-02-0122-003028  Female          None 2022-05-13
2    02-02-0200-003397  Female             M 2022-07-22
3    02-02-0200-008930    Male             M 2022-01-10
4    02-02-0200-008931  Female             W 2022-01-11
..                 ...     ...           ...        ...
314  02-02-0200-009246  Female             S 2023-06-30
315  03-01-0116-000009  Female             S 2022-10-17
316  07-01-0206-000368  Female             C 2023-02-28
317  13-01-0100-000346  Female             M 2022-09-29
318  20-06-0126-000749  Female             S 2023-06-06

[319 rows x 4 columns]

In [43]:
df['Sex'].value_counts()

Female    212
Male      107
Name: Sex, dtype: int64

In [44]:
df['MaritalStatus'].value_counts()

M     197
S      42
D      22
C      17
W      14
CO      2
Name: MaritalStatus, dtype: int64

In [46]:
# Now i need to know how many females who started treatments are maried
filtered_df = df[(df['MaritalStatus'] == 'M') & (df['Sex'] == 'Female')]

In [47]:
filtered_df

             PatientID     Sex MaritalStatus  VisitDate
2    02-02-0200-003397  Female             M 2022-07-22
9    02-02-0200-008937  Female             M 2022-01-20
14   02-02-0200-008942  Female             M 2022-02-04
21   02-02-0200-008949  Female             M 2022-02-11
28   02-02-0200-008956  Female             M 2022-03-04
..                 ...     ...           ...        ...
307  02-02-0200-009238  Female             M 2023-06-16
308  02-02-0200-009239  Female             M 2023-06-21
312  02-02-0200-009243  Female             M 2023-06-26
313  02-02-0200-009244  Female             M 2023-06-30
317  13-01-0100-000346  Female             M 2022-09-29

[122 rows x 4 columns]

In [ ]:
filtered_df['P]